@import "../variable.scss";
@import "../breakpoints.scss";

.code-confirmation {
  height: 100vh;
  width: 100vw;
  background-color: $background;
  display: flex;
  align-items: center;
  justify-content: center;
  .card {
    height: 80%;
    width: 50%;
    @include media("<=605px") {
      width: 75%;
    }
    background-color: $background-light;
    border-radius: 1rem;
    box-shadow: 0px 1px 3px 0px rgba(64, 64, 64, 0.24);
    padding: 2rem;
    .container {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      .button {
        height: 48px;
        width: 240px;
        border-radius: 0.25rem;
        box-shadow: 1px 1px 5px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        cursor: pointer;
        background-color: $background-light;
        color: $main;
        margin-left: 1.6rem;
        &.primary {
          background-color: $main;
          color: $background-light;
          box-shadow: 0px 1px 3px 0px rgba(64, 64, 64, 0.24);
        }
        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .text {
          font-weight: 500;
          font-size: 0.875rem;
        }
      }
      .header {
        height: 60%;
        width: 100%;
        background-color: red;
        img {
          height: 100%;
          width: 100%;
        }
      }
      .content {
        height: 15%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .input {
          height: 60%;
          width: 40%;
          display: flex;
          align-items: center;
          input {
            height: 100%;
            width: 100%;

            padding: 0.75rem 0.5rem;
            margin: 0;

            border: 0.5px solid rgba($color: #000000, $alpha: 0.2);
            border-left: 0.5rem solid $main;
            border-radius: 0.25rem;

            outline: none;
            box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.25);

            background-color: $background;

            font-size: 1rem;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 0.5rem;
          }
        }
      }
      .footer {
        height: 15%;
        width: 100%;
        // width: 40%;
        align-self: flex-end;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
  }
}
