@import "../variable.scss";
@import "../breakpoints.scss";

.reset-password {
  height: 100vh;
  width: 100vw;
  background-color: $background;
  display: flex;
  align-items: center;
  justify-content: center;
  .card {
    height: 40%;
    width: 40%;
    @include media("<=tablet") {
      width: 75%;
    }
    background-color: $background-light;
    border-radius: 1rem;
    box-shadow: 0px 1px 3px 0px rgba(64, 64, 64, 0.24);
    padding: 2rem;
    .container {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .button {
        height: 48px;
        width: 160px;
        @include media("<=phone") {
          width: 48px !important;
        }

        cursor: pointer;

        border-radius: 4px;
        box-shadow: 1px 1px 5px 4px rgba(0, 0, 0, 0.1);

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: $background-light;
        color: $main;

        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 1rem;
          @include media("<=phone") {
            margin: 0;
          }
        }

        .text {
          font-weight: 500;
          font-size: 0.875rem;
          @include media("<=phone") {
            display: none;
          }
        }

        &.primary {
          width: 160px !important;
          background-color: $main;
          color: $background-light;
          box-shadow: 0px 1px 3px 0px rgba(64, 64, 64, 0.24);
          .text {
            display: inline-block !important;
          }
        }
      }
      .content {
        height: 15%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;
        .input {
          //   height: 48px;
          width: 100%;
          display: flex;
          align-items: center;
          input {
            height: 48px;
            width: 100%;

            padding: 0.75rem 0.5rem;
            margin: 0;

            border: 0.5px solid rgba($color: #000000, $alpha: 0.2);
            border-left: 0.5rem solid $main;
            border-radius: 0.25rem;

            @include media("<=phone") {
              border-left: 2px solid $main;
            }

            outline: none;
            box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.25);

            background-color: $background;

            font-size: 1rem;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 0.5rem;
          }
        }
      }
      .footer {
        height: 15%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .cancel-wrapper {
          flex: 1;
          padding-right: 1rem;
          display: flex;
          align-items: center;
          justify-content: flex-end;
        }
      }
    }
  }
}
